<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/default.css">
    <script src="{{ site.baseurl }}/OnBeforeUnload.js"></script>
</head>
<body>

{% include ribbon.html %}

<div class="topbar">
    <div class="item">
        <a href="{{ site.baseurl }}/">Home</a>
    </div>
    <div class="item">
        <a href="{{ site.baseurl }}/examples/simple/">
            Simple
        </a>
    </div>
    <div class="item">
        <a href="{{ site.baseurl }}/examples/unregister/">
            Unregister
        </a>
    </div>
    <div class="item">
        <a href="{{ site.baseurl }}/examples/multiple-conditions/">
            Multiple
        </a>
    </div>
    <div class="item">
        <a href="{{ site.baseurl }}/examples/custom-messages/">
            Custom
        </a>
    </div>
</div>

<h1>{{ page.title }}</h1>

{{ page.content }}

<script>
    if (handler) {
        var links = document.getElementsByTagName('A');
        links = Array.prototype.slice.call(links, 0);
        links.forEach(function (link) {
            link.addEventListener('click', function () {
                handler.unregister();
            });
        });
    }
</script>

</body>
</html>
